spring:
  application:
    name: order
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${SPRING_DATASOURCE_URL}/shop?currentSchema=public
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jackson:
    time-zone: Asia/Seoul
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
      #  dialect: org.hibernate.dialect.PostgresSQLDialect
        format_sql: true
        jdbc:
          time_zone: Asia/Seoul
    show-sql: true



api:
  v1: /api/v1